body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    width: 600px;
    align-items: center;
    height: 800px;
    flex-direction: column;
    background-color: rgb(42, 33, 33);
    padding: 12px;
    padding-top: 40px;
    border-radius: 2%;
}

.viewport {
    width: 500px;
    height: 150px;
    background-color: aqua;
    border: 2px solid white;
    border-radius: 1%;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    
}

.row {
    display: flex;
    flex-direction: row;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 16px;
}

#equal {
    width: 200px;
    border-radius: 25%;
}